body {
  font-family: sans-serif;
  font-size: 12px;
}

#container {
  width: 950px;
  margin: 0 auto;
}

#result {
  float: left;
  width: 700px;
}

#directory-list {
  margin: 10px 0 10px 0;
  padding: 2px 0;
  background-color: #FFFFFF;
  color: #333333;
  border: 2px solid #666666;
}

#directory-list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 125%;
}

#directory-list li > a {
  float: left;
  text-decoration: none;
  margin: 0 2px;
  padding: 5px 5px;
  background-color: transparent;
  color: #333333;
}
#directory-list li > .directory-active {
  background: #666666;
  color: white;
}
#directory-list li > a img {
  vertical-align: middle;
  border: 0;
}

#directory-other {
  clear: both;
}


#tag-result {
  float: left;
  margin-left: 10px;
  padding: 0 5px;
  background-color: #EEEEEE;
  color: #000000;
  width: 230px;
}


#tag-all {
  padding: 2px 0 2px 18px;
  background: url(chrome://browser/skin/places/bookmark.png);
  background-position: -32px 0px;
  background-repeat: no-repeat;
  height: 16px;
  cursor: pointer;
}
#tag-all:hover {
  background-color: #CCCCCC;
  color: #666666;
}

#tag-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.tag-active {
  background-color: #666666 !important;
  color: #FFFFFF !important;
}
#tag-list li {
  padding: 2px 0 2px 20px;
  background: url(chrome://browser/skin/places/tag.png);
  background-position: 2px 2px;
  background-repeat: no-repeat;
  height: 16px;
  cursor: pointer;
}

#tag-list li:hover {
  background-color: #DDDDDD;
  color: #666666;
}


.item {
  clear: both;
  padding: 5px 0;
  height: 75px;
  border-bottom: 1px dotted #333333;
}
.thumb {
  float: left;
  margin-right: 5px;
}
.video-inner-block {
  float: left;
  width: 550px;
}

.video-inner-block img {
  vertical-align: middle;
  margin-right: 5px;
}

.video-link {
  font-size: 125%;
  font-weight: bold;
  background-color: transparent;
  color: #333333;
}
