#nicofox-splitter
{
  border-top: 1px solid #CCCCCC !important;
  border-bottom: 1px solid #EEEEEE !important;
  min-height: 3px;
  max-height: 3px;
  background-color: #EEEEEE;
}


#smilefox-list richlistitem {
  padding: 5px;
}
