/* Panel UI: Video Info */
#nicofox-icon {
  list-style-image: url("chrome://nicofox/skin/logo_16_sprite.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

#nicofox-library {
  list-style-image: none;
  background: white;
}

.nicofoxVideoInfoBox {
  margin: 5px;
  padding: 5px;
  border: 1px solid ThreeDShadow;
  border-radius: 5px;
  background: ThreeDFace;
  color: ButtonText;
  opacity: 0.8;
}

.nicofoxVideoInfoBox description {
  margin: 0.2em 0.3em;
}

#nicofox-watching-thumb { 
  width: 64px;
  height: 48px;
}

.nicofoxVideoInfoBoxTitle {
  font-size: 125%;
  font-weight: bold;
}

.smilefoxToolItem {
  margin: 3px;
  cursor: pointer;
  list-style-image: url("chrome://nicofox/skin/toolbar_sprite.png");
}

/* Panel UI: Downloads */
/* Referenced from: toolkit/themes/pinstripe/mozapps/downloads/downloads.css */
richlistitem[type="smilefox"] {
  overflow-x: hidden;
  padding: 3px;
}
richlistitem[type="smilefox"][sfstatus="0"] {
  -moz-binding: url("chrome://nicofox/content/smilefoxPanel.xml#smilefox-download-queued");
}
richlistitem[type="smilefox"][sfstatus="1"] {
  -moz-binding: url("chrome://nicofox/content/smilefoxPanel.xml#smilefox-download-completed");
}
richlistitem[type="smilefox"][sfstatus="2"] {
  -moz-binding: url("chrome://nicofox/content/smilefoxPanel.xml#smilefox-download-canceled");
}
richlistitem[type="smilefox"][sfstatus="3"] {
  -moz-binding: url("chrome://nicofox/content/smilefoxPanel.xml#smilefox-download-failed");
}
richlistitem[type="smilefox"][sfstatus="4"] {
  -moz-binding: url("chrome://nicofox/content/smilefoxPanel.xml#smilefox-download-scheduled");
}
richlistitem[type="smilefox"]:not([selected="true"]):nth-child(odd) {
  background-color: -moz-oddtreerow;
}
richlistitem[type="smilefox"][sfstatus="7"] {
  -moz-binding: url("chrome://nicofox/content/smilefoxPanel.xml#smilefox-download-downloading");
}

.smilefoxDownloadThumbnail {
  width: 64px;
  height: 48px;
  background: url("chrome://nicofox/skin/thumb_missing.png") black;
}

.smilefoxInactiveItem {
  color: GrayText;
}

#smilefoxThumbNotice, #smilefoxThumbProgress {
  padding: 0.5em;
  background: InfoBackground;
  color: InfoText;
}

/* Toolbar UI for Firefox 4 in add-on bar. Use color icon and don't display the arrow.
 * Other Toolbar CSS are in toolbar.css (Win), toolbarMac.css (Mac) and toolbarLinux.css (Linux). */
#addon-bar #nicofox-toolbar-button {
  list-style-image: url("chrome://nicofox/skin/logo_16_sprite.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}
#addon-bar #nicofox-toolbar-button dropmarker {
  display: none; 
}

/* Context Menu */
#nicofox-context-download {
  list-style-image: url("chrome://nicofox/skin/logo_16_sprite.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

/* Perferences */
radio[pane] {
  list-style-image: url("chrome://nicofox/skin/options_sprite.png");
}

radio[pane=panePage] {
  -moz-image-region: rect(0px 32px 32px 0px);
}
radio[pane=paneDownload] {
  -moz-image-region: rect(0px 64px 32px 32px);
}
radio[pane=panePlayer] {
  -moz-image-region: rect(0px 96px 32px 64px);
}
