/* Panel UI: Video Info */
#nicofox-icon {
  list-style-image: url("chrome://nicofox/skin/logo_16_sprite.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

#nicofox-library {
  list-style-image: none;
  background: white;
}

.nicofoxVideoInfoBox {
  margin: 5px;
  padding: 5px;
  border: 1px solid ThreeDShadow;
  border-radius: 5px;
  background: ThreeDFace;
  color: ButtonText;
  opacity: 0.8;
}

.nicofoxVideoInfoBox description {
  margin: 0.2em 0.3em;
}

#nicofox-watching-thumb { 
  width: 64px;
  height: 48px;
}

.nicofoxVideoInfoBoxTitle {
  font-size: 125%;
  font-weight: bold;
}

.nicofoxVideoToolItem {
  margin: 3px;
  cursor: pointer;
  list-style-image: url("chrome://nicofox/skin/toolbar_sprite.png");
}

/* Panel UI: Downloads */
/* Referenced from: toolkit/themes/pinstripe/mozapps/downloads/downloads.css */
richlistitem[type="nicofox-download"] {
  overflow-x: hidden;
  padding: 3px;
}
richlistitem[type="nicofox-download"][dlstatus="0"] {
  -moz-binding: url("chrome://nicofox/content/smilefoxPanel.xml#nicofox-download-item-queued");
}
richlistitem[type="nicofox-download"][dlstatus="1"] {
  -moz-binding: url("chrome://nicofox/content/smilefoxPanel.xml#nicofox-download-item-completed");
}
richlistitem[type="nicofox-download"][dlstatus="2"] {
  -moz-binding: url("chrome://nicofox/content/smilefoxPanel.xml#nicofox-download-item-canceled");
}
richlistitem[type="nicofox-download"][dlstatus="3"] {
  -moz-binding: url("chrome://nicofox/content/smilefoxPanel.xml#nicofox-download-item-failed");
}
richlistitem[type="nicofox-download"][dlstatus="4"] {
  -moz-binding: url("chrome://nicofox/content/smilefoxPanel.xml#nicofox-download-item-scheduled");
}
richlistitem[type="nicofox-download"]:not([selected="true"]):nth-child(odd) {
  background-color: -moz-oddtreerow;
}
richlistitem[type="nicofox-download"][dlstatus="7"] {
  -moz-binding: url("chrome://nicofox/content/smilefoxPanel.xml#nicofox-download-item-downloading");
}
.nicofoxDownloadItemThumbnail {
  background: url("chrome://nicofox/skin/thumb_missing.png") black;
  background-size: 100% 100%;
}

#nicofox-download-list[sfthumbdisplay="larger"] .nicofoxDownloadItemThumbnail {
  width: 64px;
  height: 48px;
}
#nicofox-download-list[sfthumbdisplay="medium"] .nicofoxDownloadItemThumbnail {
  width: 48px;
  height: 36px;
}
#nicofox-download-list[sfthumbdisplay="smaller"] .nicofoxDownloadItemThumbnail {
  width: 32px;
  height: 24px;
}
#nicofox-download-list[sfthumbdisplay="none"] .nicofoxDownloadItemThumbnail {
  display: none;
}

#nicofox-download-list[sfthumbdisplay="smaller"] .nicofoxDownloadItemStatus,
#nicofox-download-list[sfthumbdisplay="none"]  .nicofoxDownloadItemStatus {
  display: none;
}

.nicofoxDownloadItemStatus {
  font-size: 90%;
}

.nicofoxDownloadItemInactive {
  color: GrayText;
}

.nicofoxDownloadItemLowQuality {
  color: GrayText;
  font-size: 90%;
  border: 1px solid GrayText;
  padding: 0em 0.3em;
  border-radius: 0.3em;
}

#nicofox-thumb-notice, #nicofox-thumb-progress, #nicofox-download-paused {
  padding: 0.2em;
  background: InfoBackground;
  color: InfoText;
}

/* Toolbar UI for Firefox 4 in add-on bar. Use color icon and don't display the arrow.
 * Other Toolbar CSS are in toolbar.css (Win), toolbarMac.css (Mac) and toolbarLinux.css (Linux). */
#addon-bar #nicofox-toolbar-button {
  list-style-image: url("chrome://nicofox/skin/logo_16_sprite.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}
#addon-bar #nicofox-toolbar-button dropmarker {
  display: none; 
}

/* Context Menu */
#nicofox-context-download {
  list-style-image: url("chrome://nicofox/skin/logo_16_sprite.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

/* Perferences */
radio[pane] {
  list-style-image: url("chrome://nicofox/skin/options_sprite.png");
}

radio[pane=panePage] {
  -moz-image-region: rect(0px 32px 32px 0px);
}
radio[pane=paneDownload] {
  -moz-image-region: rect(0px 64px 32px 32px);
}
radio[pane=panePlayer] {
  -moz-image-region: rect(0px 96px 32px 64px);
}
